.todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 450px;
  height: 100vh;
  padding: 15px;
  &__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
  }
  &__empty {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  &__edit {
    background-color: #48fa54;
    border: none;
    color: #fff;
    margin-right: 5px;
    &:hover {
      border: none;
      background-color: #56fc61;
    }
  }
  &__delete {
    background-color: #fc6156;
    border: none;
    color: #fff;
    &:hover {
      border: none;
      background-color: #ff564a;
    }
  }
  &__popup {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    border: 1px solid #fff;
    box-shadow: 0px 41.7776px 33.4221px rgba(104, 104, 104, 0.0282725), 0px 12.5216px 10.0172px rgba(104, 104, 104, 0.0417275), 0px 6.6501px 5.32008px rgba(104, 104, 104, 0.0503198), 0px 2.76726px 2.21381px rgba(104, 104, 104, 0.07);
    overflow: hidden;
  }

  .as-wrapper {
    width: 100%;
  }
  &__input {
  }
  &__button {
    margin-top: 15px;
    width: 100%;
  }
  .list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
    }
  }
}